<div class="screen-wrapper">
  <div class="homepage-layout">
    <!-- NAVBAR -->
    <div class="navbar navbar-light navbar-lewagon">
      <div class="container-fluid navbar-mobile">
        <%= link_to root_path, class: "navbar-toggler" do %>
          <i class="fa-solid fa-house fa-lg" style="color: white;"></i>
        <% end %>
        <div class="navbar-title" style="font-size: 2.6rem; color: #CE4B56;">KRICKET</div>
        <div class="navbar-right-icon">
          <i class="fa-solid fa-arrow-right-from-bracket fa-xl" style="color: white;"></i>
        </div>
      </div>
    </div>
    <div class="history-list">
      <% @chats.each do |chat| %>
        <div class="history-item">
          <!-- FULL CARD CLICK AREA -->
          <%= link_to chat_path(chat), class: "history-item__body" do %>
            <div class="history-item__spice-left">
              <p class="history-spice" style="font-size: 1rem;">🌶️</p>
            </div>
            <div class="history-item__text">
              <div class="history-item__scroll">
                <p class="history-title"><%= chat.title %></p>
                <p class="history-message"><%= chat.summary %></p>
              </div>
            </div>
          <% end %>
          <!-- DELETE BUTTON -->
          <%= link_to chat_path(chat),
          data: { turbo_method: :delete, turbo_confirm: "Delete this chat?" },
          class: "history-item__delete" do %>
            <i class="fa-regular fa-trash-can" style="font-size: 1.2rem;"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
