<div class="screen-wrapper">
  <!-- Top Navbar -->
  <div class="navbar navbar-light navbar-lewagon">
    <div class="container-fluid navbar-mobile">
      <!-- LEFT: back -->
      <%= link_to root_path, class: "navbar-toggler" do %>
        <i class="fa-solid fa-house" style="color: black;"></i>
      <% end %>
      <!-- CENTER: title -->
      <div class="navbar-title ">Kricket History</div>
      <!-- RIGHT: user icon -->
      <div class="navbar-right-icon" type="button">
        <i class="fa-regular fa-user" style="color: black;"></i>
      </div>
      <!-- History list -->
      <div class="history-list mt-4">
        <% @chats.each do |chat| %>
          <%= link_to chat_path(chat), class: "history-item" do %>
            <!-- LEFT: play icon -->
            <div class="history-item__play">
              <div class="history-play-circle">
                <i class="fa-regular fa-circle-play"></i>
              </div>
            </div>
            <!-- MIDDLE: scrollable text -->
            <div class="history-item__text">
              <div class="history-item__scroll">
                <p class="history-title"><%= chat.title %></p>
                <p class="history-message"><%= chat.summary %></p>
              </div>
            </div>
            <!-- RIGHT: time + spice -->
            <div class="history-item__meta">
              <p class="history-time"><%= chat.created_at.strftime("%-l:%M %p") %></p>
              <p class="history-spice">🌶️🌶️🌶️</p>
            </div>
          <% end %>
        <% end %>
      </div>
      <!-- /history-list -->
    </div>
  </div>
</div>
</div>
</div>
