<div class="screen-wrapper">
  <div class="homepage-layout">
    <!-- NAVBAR -->
    <div class="navbar navbar-light navbar-lewagon">
      <div class="container-fluid navbar-mobile">
        <%= link_to root_path, class: "navbar-toggler" do %>
          <i class="fa-solid fa-house fa-lg" style="color: white;"></i>
        <% end %>
        <div class="navbar-title" style="font-size: 2.6rem; color: #CE4B56;">KRICKET</div>
        <div class="navbar-right-icon">
          <i class="fa-solid fa-arrow-right-from-bracket fa-xl" style="color: white;"></i>
        </div>
      </div>
    </div>
    <!-- GLASS PANEL (NOW PROPERLY CENTERED) -->
    <div class="glass-wrapper">
      <canvas class="glass-blob"></canvas>
      <div class="glass-content">
        <div class="history-list">
          <% @chats.each do |chat| %>
            <%= link_to chat_path(chat), class: "history-item" do %>
              <div class="history-item__play">
                <div class="history-play-circle">
                  <i class="fa-regular fa-circle-play"></i>
                </div>
              </div>
              <div class="history-item__text">
                <div class="history-item__scroll">
                  <p class="history-title"><%= chat.title %></p>
                  <p class="history-message"><%= chat.summary %></p>
                </div>
              </div>
              <div class="history-item__meta">
                <p class="history-time"><%= chat.created_at.strftime("%-l:%M %p") %></p>
                <p class="history-spice">🌶️🌶️🌶️</p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
