<div class="screen-wrapper" data-controller="record" data-id="<%= @chat.id %>">
  <div class="homepage-layout">
    <!-- Top nav -->
    <div class="navbar navbar-light navbar-lewagon">
      <div class="container-fluid navbar-mobile">
        <%= link_to root_path, class: "navbar-toggler" do %>
          <i class="fa-solid fa-house fa-lg" style="color: white;"></i>
        <% end %>
        <div class="navbar-title" style="font-size: 2.6rem; color: #CE4B56;">KRICKET</div>
        <div class="navbar-right-icon">
          <i class="fa-solid fa-arrow-right-from-bracket fa-xl" style="color: white;"></i>
        </div>
      </div>
    </div>
    <!-- Spiciness slider -->
    <section class="spice">
      <div class="spice_label">Choose spiciness level</div>
      <div class="spice_row">
        <span class="spice_pepper-left">❄️</span>
        <%= simple_form_for(@chat, html: {data: {controller: "temperature"}}) do |f| %>
          <input
            name="chat[temperature]"
            type="range"
            class="spice-slider"
            min="0"
            max="2"
            step="0.1"
            value="<%= @chat.temperature %>"
            data-action="change->temperature#update"
            />
          <% end %>
          <div class="spice_pepper-level" data-level="1">
            <span class="pepper" data-index="1" style="font-size: 1.8rem;">🌶️</span>
          </div>
        </div>
      </section>
      <!-- Spinner  -->
      <div class="spinner-wrapper ">
        <button class="spinner-button">
          <div class="spinner-disc">
            <%= image_tag "kricket-bg.png", class: "disc-image" %>
          </div>
        </button>
      </div>
      <!-- AI message block -->
      <div class="text-center" id="assistant_message" data-record-target="message">
        <%= render "messages/message", message: @last_assistant_msg %>
      </div>
      <!-- Record Section of the Page  -->
      <div class="d-flex justify-content-center gap-3 mt-5">
        <%# <button id="record" data-record-target="record" data-action="click-> record#startRecord">Record</button> %>
        <button id="record" data-record-target="record" data-action="click->record#startRecord" class="btn btn-primary">Record</button>
        <%# <button id="snapshot" data-action="click-> record#collectSnapshot">Snapshot</button> %>
        <button id="stop" data-action="click->record#stopRecord" class="btn btn-danger"> Stop </button>
      </div>
    </div>
    <!-- .kricket-page -->
  </div>
  <!-- .screen-wrapper -->
