<!DOCTYPE html>
<html>
  <head>
    <title>Kricket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
  </head>
  <body>
    <%= yield %>
    <script>
      window.addEventListener("load", () => {
        liquidGL({
        snapshot: ".screen-wrapper",
        target: ".glass-blob",

        resolution: 1.8,
        pixelRatio: 1,
        frost: 0.3,
        // refraction: 0.026,
        magnify: 1,

        bevelWidth: 0.04,
        bevelDepth: 0.519,
        roundness: 0.45,

        // aberration: 0.6,
        // aberrationStrength: 0.4,
        // dispersion: 1.15,

        // lensStrength: 0.22,
        // lensDistortion: 0.12,

        noiseIntensity: 0.18,
        noiseSpeed: 0.45,
        noiseScale: 0.8,

        wobble: 0.35,
        speed: 1.25,

        shadow: true,
        specular: true,
        tilt: false,
        tiltFactor: 10,
        specularSharpness: 0.6,
        highlight: 1.2,

        reveal: "fade"
      });
      });
    </script>
  </body>
</html>
